{% extends "blog/base.html" %}
{% block content %}

<h2>{{ object.title }}</h2>

<p>{{ object.content }}</p>
<p><small>By {{ object.author }} on {{ object.published_date }}</small></p>

{% if user == object.author %}
    <a href="{% url 'post-update' object.pk %}">Edit</a>
    <a href="{% url 'post-delete' object.pk %}">Delete</a>
{% endif %}

<br>
<a href="{% url 'post-list' %}">Back to Posts</a>

{% endblock %}

<h3>Tags:</h3>
{% for tag in object.tags.all %}
    <a href="{% url 'posts-by-tag' tag.name %}">{{ tag.name }}</a>
{% empty %}
    No tags
{% endfor %}

<hr>

<h3>Search</h3>
<form method="GET" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit">Search</button>
</form>

